.col-md-9
  .content-box
    .content-box-title
      Ask Question
    %div.form-style-1{:id=>"question-submit"}
      %form
        %p.form-layer
          %label
            Question Title
          %input{type: "text", id:"question-title"}
        %p.form-layer
          %label
            Jurisdiction
          %input{type: "text", id:"jurisdiction"}
