
.container
  =react_component("RichTextEditorQuestionForm",
    props: {user: current_user,
      hostUrl: questions_path,
      initialTitle: "Testing title",
      initialEditorValue: "Testing value",
      csrfToken: form_authenticity_token} )

