
.container.col-md-8
  =react_component("RichTextEditorForm",
    props: {user: current_user,
      hostUrl: questions_path,
      initialTitle: "",
      initialEditorValue: "",
      csrfToken: form_authenticity_token,
      isQuestion: true,
      baseClassName: "answer-editor-base",
      editorClassName: "answer-editor-editor",
      toolbarClassName: "answer-editor-toolbar"})
.container.col-md-3.question-side-panel
  .panel.panel-default
    .panel-heading
      Additional materials
    .panel-body
      Additional materials to go here.
