.row
  .col-md-9
    %div.question-title-block
      %h1= @question.title
.row
  .container
    .row
      %div.col-md-8
        .row
          .question-page-content-container
            .col-md-1
              Vote buttons
            .col-md-7
              .content-body-container
                =raw(@question.body)
        - @question.answers.each do |answer|
          .row
            .question-page-content-container
              .col-md-1
                Vote buttons
              .col-md-8
                .content-body-container
                  = answer.body
        .col-md-6
          =react_component("RichTextEditorForm",
            props: {user: current_user,
              hostUrl: answers_path,
              initialTitle: "",
              initialEditorValue: "",
              csrfToken: form_authenticity_token,
              isQuestion: false})
      %div.col-md-2.col-md-offset-1.well
        Other items here.


