.row
  .col-md-9
    %div.question-title-block
      %h1= @question.title
.row
  .container
    .row
      %div.col-md-9
        .row
          .col-md-1
            Vote buttons
          .col-md-8
            =raw(@question.body)
        - @question.answers.each do |answer|
          .row
            .col-md-1
              Vote buttons
            .col-md-8
              = answer.body
        .col-md-6
          =react_component("RichTextEditorForm",
            props: {user: current_user,
              hostUrl: answers_path,
              initialTitle: "",
              initialEditorValue: "",
              csrfToken: form_authenticity_token,
              isQuestion: false})
      %div.col-md-3.well
        Other items here.


