.row
  .col-md-9
    %div.question-title-block
      %h3.question-title= @question.title
.row
  .container
    .row
      %div.col-md-9
        .row
          .panel.panel-default
            .panel-body
              .row
                .col-md-1.votebox-column
                  =react_component("VoteBox",
                    props: {user: current_user,
                      elementId: @question.id,
                      elementType: "question",
                      csrfToken: form_authenticity_token,
                      hostUrl: vote_path})
                .col-md-11
                  .content-body-container
                    =raw(@question.body)
              .row
                .col-md-10.col-md-offset-1.user-info-slot
                  =link_to @question.user.user_detail.full_name, user_url(@question.user)
                  %p= @question.user.user_detail.title_display
        %h4= pluralize(@question.answers.count, 'Answer')
        - @question.answers.each do |answer|
          .row
            .panel.panel-default
              .panel-body
                .row
                  .col-md-1.votebox-column
                    =react_component("VoteBox",
                    props: {user: current_user,
                      elementId: answer.id,
                      elementType: "answer",
                      csrfToken: form_authenticity_token,
                      hostUrl: vote_path})
                  .col-md-11
                    .content-body-container
                      = raw(answer.body)
                .row
                  .col-md-10.col-md-offset-1.user-info-slot
                    =link_to @question.user.user_detail.full_name
        .col-md-6
          =react_component("RichTextEditorForm",
            props: {user: current_user,
              hostUrl: answers_path,
              initialTitle: "",
              initialEditorValue: "",
              csrfToken: form_authenticity_token,
              isQuestion: false,
              questionId: @question.id.to_s,
              baseClassName: "answer-editor-base",
              editorClassName: "answer-editor-editor",
              toolbarClassName: "answer-editor-toolbar"})
      %div.col-md-2.col-md-offset-1.well
        Other items here.


