- @results.each do |result|
  = render 'shared/question_short', question: result

- if @results.count == 0
  %p= "No results for your search term, '#{@params}.'"
  %p Try submitting a question or searching with a different term.