.row
  .col-md-9
    .content-block
      .user-title-container
        %h3.user-title= @detail.full_name
        - if current_user && current_user == @user
          %h5= link_to "Edit Profile", edit_user_url(current_user)
      .user-work-info-container
        = "Title: "
        = "Emplmoyer: "

