.row.h1.welcome-home-title
  Jurily.com
  .h4
    BETA
.row.h5.welcome-home-subtitle
  Lawyers seeking advice.
.row
  .container
    .col-md-12.home-tab-inner-wrapper
      %ul.tabs.home-tabs
        %li.tab{:class => ("current" if current_page?(root_url))}
          =link_to "Top Questions", root_url
        %li.tab{:class => ("current" if current_page?(recent_questions_url))}
          =link_to "Latest Questions", recent_questions_url
        -#%li.tab{:class => ("current" if cp(top_questions_url))}
        -#  =link_to "Month", top_questions_url
        -#%li.tab{:class => ("current" if cp(top_questions_url))}
        -#  =link_to "Rewards", top_questions_url
      -@questions.each do |question|
        = render 'shared/question_short', question: question
        -#.panel.panel-default
        -#  .panel-heading
        -#    = link_to truncate(question.title, length: 200, seperator: ''),
        -#      question_url(question)
        -#  .panel-body
        -#    = raw (question.body).truncate(500, seperator: ' ')
      - if (paginate @questions).length >= 65
        .content-block
          = paginate @questions
    -#%aside.col-md-3.sidebar
    -#  .sidebar-widget.sidebar-widget-home-ads
    -#    %h3.sidebar-widget-title Sponsors
    -#    %div
    -#      Forthcoming.

