.row
  .jumbotron
    .container
    %h1.text-center
      Jurily.com
      %small BETA
    %h5.text-center Lawyer's seeking advice.
.row
  .container
    %ul.nav.nav-tabs
      %li.tab{:class => ("active" if current_page?(root_url))}
        =link_to "Top Questions", root_url
      %li.tab{:class => ("active" if current_page?(recent_interest_questions_url))}
        =link_to "Most Interesting", recent_interest_questions_url
      %li.tab{:class => ("active" if current_page?(recent_questions_url))}
        =link_to "Latest Questions", recent_questions_url
- # Needed to separate tabs from first question.
%br
.row
  .container
    .col-md-12
      -@questions.each do |question|
        = render 'shared/question_short', question: question
.row
  .container
    .col-sm-8.col-sm-offset-2.text-center
    - if (paginate @questions).length >= 65
      .well.text-center
        = paginate @questions

