.row.h1.welcome-home-title
  Jurily.com
.row.h5.welcome-home-subtitle
  Lawyers seeking advice.
.row
  .container
    .col-md-9.home-tab-inner-wrapper
      %ul.tabs.home-tabs
        %li.tab{:class => ("current" if cp(root_url))}
          =link_to "Current", root_url
        %li.tab{:class => ("current" if cp(top_answers_url))}
          =link_to "Top Answers", top_answers_url
        %li.tab{:class => ("current" if cp(top_questions_url))}
          =link_to "Top Questions", top_questions_url
        %li.tab{:class => ("current" if cp(recent_answers_url))}
          =link_to "Recent Answers", recent_answers_url
        %li.tab{:class => ("current" if cp(recent_questions_url))}
          =link_to "Recent Questions", recent_questions_url
      -@questions.each do |question|
        = render 'shared/question_short', question: question
        -#.panel.panel-default
        -#  .panel-heading
        -#    = link_to truncate(question.title, length: 200, seperator: ''),
        -#      question_url(question)
        -#  .panel-body
        -#    = raw (question.body).truncate(500, seperator: ' ')
      .content-block
        = paginate @questions
    %aside.col-md-3.sidebar
      .sidebar-widget.sidebar-widget-home-ads
        %h3.sidebar-widget-title Sponsors
        %div
          Forthcoming.

