.row.h1.welcome-home-title
  Jurily.com
.row.h5.welcome-home-subtitle
  Where lawyers go for legal questions.
.row
  .container
    .col-md-9.home-tab-inner-wrapper
      -@questions.each do |question|
        = render 'shared/question_short', question: question
        -#.panel.panel-default
        -#  .panel-heading
        -#    = link_to truncate(question.title, length: 200, seperator: ''),
        -#      question_url(question)
        -#  .panel-body
        -#    = raw (question.body).truncate(500, seperator: ' ')
      %p
        = paginate @questions
    %aside.col-md-3.sidebar
      .sidebar-widget.sidebar-widget-home-ads
        %h3.sidebar-widget-title Sponsors
        %div
          Forthcoming.
