body {
  background-color: #f6f6f6;
}

.content-body {
  min-height: 600px;
}

.question-title-block {
  border-bottom: solid 1px;
  border-bottom-color: #777777;
  padding: 0 0 0 10px;
  margin: 0 0 40px 0;
}







.question-page-content-container {
  border: 1px solid #dedede;
  background: #fff;
  box-shadow: 0px 0px 10px #dedede;
  position: relative;
  padding: 20px 10px;
  margin-bottom: 15px;
  min-height: 100%;
  overflow: hidden;
}

.content-body-container {
  margin: 0 15px 0 15px;
}








.rich-text-editor-test {
  width: 800px;
}

.rich-text-editor-container {
  margin: 30px 0 0 0;
}

.rich-text-editor-submit {
  margin: 15px 0 0 0;
}

.rich-text-editor-base {
  width: 600px;
}





.form-row {
  margin: 10px 0 10px 0;
}