$main-background-color: #333333;

$default-link-color: #007da9;
$default-link-hover-color: #00b3eb;
$default-font-stack: "Georgia", "Times New Roman", "Times", serif;

$footer-color: #ffffff;

html, body {
  height: 100%
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: $default-font-stack;
}

body {
  background-color: $main-background-color;
  font-size: 16px;
  line-height: 28px;
}

.content-body {
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  min-height: 90%;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 5em;
  margin-top: -5em;
}



a {
  color: $default-link-color;
  transition: color .2s linear;
}

a:hover {
  color: $default-link-hover-color;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.nav-tabs li a:not(.active) {
  transition: background-color .2s linear;
}

.navbar {
  margin-bottom: 0;
}

.navbar-form .form-control {
  min-width: 300px;
  max-width: 85%;
  padding: 4px 0;
  margin: 0 auto;
}

.main-layout-footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $main-background-color;
  background-color: $main-background-color;
  display: block;
  font-size: 13px;
  padding: 15px 30px 30px 30px;
  color: $footer-color;

  a {
    color: $footer-color;
    text-decoration: none;
  }
  a:hover {
    color: $footer-color;
    text-decoration: none;
  }
}
