$downvote-color: #F04124;
$upvote-color: #5bc0de;

.votebox-vote-button {
  transition: color .2s linear;
  cursor:hand;
}

.vote-button-down:hover {
  color: $downvote-color;
}

.vote-button-up:hover {
  color: $upvote-color;
}

.vote-active {
  &.vote-button-down {
    color: $downvote-color;
    transition: color .0s linear;
  }
  &.vote-button-up {
    color: $upvote-color;
    transition: color .0s linear;
  }
}