.container
  .row
    .new-bar-admission-title
      %h3 Add new bar admission
  .row
    .panel.panel-default.bar-admission-panel
      .panel-heading.bar-admission-panel-heading
        %h4 Add new bar admission
      .panel-body.bar-admission-panel-body
